/* 
    Document   : custom
    Created on : Oct 5, 2012, 10:19:09 AM
    Author     : BUI VAN UY
    Description:
        Purpose of the stylesheet follows.
*/
.statistic_content {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.avg_left {
    border: 1px solid #CCC;
    padding: 10px;
    float: left;
    width: 300px;
}
.avg_right {
    border: 1px solid #CCC;
    padding: 10px;
    float: left;
    width: 300px;
    margin-left: 100px;
}
.avg_left p, .avg_right p {
    font-weight: bold;
    color: red;
    padding-bottom: 10px;
}
.avg_left label, .avg_right label {
    display: inline-block;
    width: 100px;
}
.avg_left span, .avg_right span {
    font-weight: bold;
}

.buffet {
    margin:10px 0 10px 155px;
    clear: both;
}
#chart-content,#key-content, #name-content {
    width:auto;
    margin:0 auto;
    height: 510px;
    text-align: center;
    margin-left:150px;
}
#chart-content { border-bottom:1px solid red; border-left: 1px solid red; padding-left: 10px;}
#key-content, #name-content { height:auto; padding:5px 0;}
.key1 {
    margin-right:20px;
    height:500px;
    width:40px;
    float: left;
}
.key2,.key3 {
    margin-right:20px;
    height:auto;
    width:40px;
    float: left;
}
.chung { width:40px;}
.mau0,.mau6 {background-color: #62A0CB;}
.mau1,.mau8 {background-color: #2CA02C;}
.mau2,.mau7 {background-color: #FF7F0E;}
.mau3,.mau10 {background-color: #D62728;}
.mau4,.mau9 {background-color: #AEC7E8;}
.mau5,.mau11 {background-color: #FF883C;}
.downfile { padding:3px 10px; cursor: pointer; border: 1px solid #E8E7E1;background: #fff url("../img/form_red.gif") repeat-x top left; font-weight: bold;}
.clear {
    clear: both;
}

#content-wrap {
    overflow: hidden;
}

#content-wrap > #content {

}

#sidebar {

}

.breadcrumbs {
    padding: 7px 0px 7px 10px;
    font-size: 16px;
}

.breadcrumbs a {
    font-size: 16px;
}

.breadcrumbs * {
    line-height: 1.2em;
}

form .row {
    padding: 0px 0 7px;
    display: block;
}

form .row > label {
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding: 0 5px 0 0;
    line-height: 26px;
}

form .row > ul.module-list {
    display: block;
    float: left;
    padding: 0;
    list-style-type: none;
    width: 350px;
    margin-top: 6px;
    margin-bottom: 5px;
}

form .row > ul.module-list > li {
    padding: 2px 0;
    float: left;
    width: 175px;
}

form .row > ul.module-list > li > input {
    float: left;
    margin-right: 5px;
}

form .row > ul.module-list > li > label {
    float: left;
    line-height: 1em;
}

form span.required {
    color: red;
}

form .buttons {
    padding-left: 155px;
}

form input[type='submit'], input[type='button'], button {
    padding: 3px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #C00;
    border: 1px solid #E8E7E1;
}

form input[type='submit']:hover, input[type='button']:hover, button:hover {
    background-position: center left;
    color: black;
}

form input[type='text'], input[type='password'] {
    padding: 4px;
}

form p.note {
    padding: 0 0 5px 155px;
}

form .errorMessage {
    display: block;
    text-align: left;
    padding-left: 155px;
    color: red;
    padding: 2px 0 0 155px;
    font-size: 11px;
}

form .errorSummary {
    padding: 0px 5px 5px 155px;
}

form .errorSummary p {
    padding: 3px 0;
}

form .errorSummary ul {
    padding: 5px 0px 5px 25px;
}

form .errorSummary ul li {
    color: red;
}

#content > h1 {
    padding: 5px;
    font-size: 14px;
    background: #F7F6F0;
    border-bottom: 1px solid #E8E7E1;
    color: #A43708;
}

input.error {
    border-color: red;
}

form .attr-inline {
    float: left; 
    width: 350px;
}

a.btn-add-playlist {
    width: 16px;
    height: 16px;
}

.grid-view .button-column {
}

.portlet-decoration {
    border-bottom: 1px solid #e8e7e1;
    background-color: #f7f6f0;
}

.portlet-decoration > .portlet-title {
    background: transparent url("../img/icons/cog.png") no-repeat left;
    color: #a43708;
    padding-left: 22px;
    text-decoration: none;
    margin: 0 5px;
    display: block;
    line-height: 25px;
    font-weight: bold;
    padding-top: 1px;
}

/* thiendv added 21/03/2014 */
 fieldset {
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
fieldset {
    border: 1px solid #E8E7E1;
}

legend {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
    width: 254px;
}
legend {
    background: url("../img/form_red.gif") repeat-x scroll left center #FFFFFF;
    border: 1px solid #E8E7E1;
    color: #A43708;
}