body{
    background:#FFF repeat-x top;
    margin-top: -20px;
    color: #202020;
}
a, a:visited{
    color:#a43708;
}
input{
    border:1px solid #e8e7e1;
}
select{
    border:1px solid #e8e7e1;
}
#header h2{
    color:#1B459C;
    padding-top: 38px;
    padding-left: 224px;
}
#content{
    background:#FFF;
}
#sidebar{
    background:#FFF;
}
#sidebar h3{
    background:#f7f6f0;
    border-bottom:1px solid #e8e7e1;
}
#topmenu a,#topmenu a:visited{
    color:#FFF;
    background:#a20000;
}
#topmenu ul li.group2 ul li.itemgroup2 a, #topmenu ul li.group2 ul li.itemgroup2 a:visited {
    background: #FF883C;
}
#topmenu ul li.group3 ul li.itemgroup3 a, #topmenu ul li.group3 ul li.itemgroup3 a:visited {
    background: #1E449E;
}
#topmenu a:hover{
    color: #FFF;
}
#topmenu .current a, #topmenu .active a, #topmenu .current a:hover, #topmenu .current a:visited{
    color:#993400;
    background: #FFF url("../img/bg_menu_red.jpg") repeat-x top;
    border-left: #FFF 1px solid;
    border-right: #FFF 1px solid;
}
#top-panel{
    width:auto;
    padding-left: 20px;
    background:#FFF;
}
table{
    background:none;
}
td, th{
    border:1px solid #e8e7e1;
} 
thead{
    background:#f7f6f0;
}
#styleswitcher{
    background:#FFFFFF;
}
#footer{
    background:#FFF;
}
#box{
    border:1px solid #e8e7e1;
}
#box h3{
    background:#f7f6f0;
    border-bottom:1px solid #e8e7e1;
    color:#a43708;
}
/***************
          Forms
***************/
form fieldset {
    border:1px solid #e8e7e1;
}
form legend {
    border:1px solid #e8e7e1;
    background:#fff url("../img/form_red.gif") repeat-x center left;
    color:#a43708;
}
form input {
    border:1px solid #e8e7e1;
    background:#fff url("../img/form_red.gif") repeat-x top left;
}
form textarea {
    border:1px solid #e8e7e1;
    background:#fff url("../img/form_red.gif") repeat-x bottom left;
}
form option {
    background:#FFF;
}
form optgroup {
    background:#e8e7e1;
}
form optgroup option {

}
form #button1, form #button2 {
    color:#c00;
}
form #button1:hover, form #button2:hover {
    color:#000;
}
/***************
        Home
***************/
#infobox{
    border:1px solid #e8e7e1;
}
#infobox h3{
    background:#f7f6f0;
    border-bottom:1px solid #e8e7e1;
    color:#a43708;
}
#rightnow {
    border:1px solid #e8e7e1;
}
#rightnow .reallynow {
    background:#f7f6f0;
    color:#a43708;
}
#rightnow h3{
    background:#f7f6f0;
    border-bottom:1px solid #e8e7e1;
}