.div-main{float: left;margin: 1px 15px;width: 98%;}
.call-miss-main{float: left;width: 48.8%;}
.call-miss-main .search{float: left;width: 100%;margin-top: -30px;}
.call-miss-main .search .title-search{color: #FFF;font-size: 18px;padding-top: 10px!important;width: 30%;}
.call-miss-main .search .input-search{padding-left: 10px;width: 40%;border-radius: 14px;border: none;margin-left: 15px;height: 18px;}
.call-miss-main .search .bottom-search{padding: 0px 10px;color: #FFF;width: 15%;border-radius: 14px;border: none;margin-left: 15px;height: 22px;background: #5B9DBF;}
.call-miss{float: left;z-index: -1;width: 85%;border-left: 20px solid #8c8c8c;border-right: 20px solid #8c8c8c;border-bottom: 10px solid #8c8c8c;border-top: 40px solid #8c8c8c;border-radius: 7px;}
.call-miss-left{margin-left: 20px!important;}
.div-main-color{margin-top: 10px;width: 95%;border-top: 40px solid #8c8c8c;border-left: 20px solid #8c8c8c;border-right: 20px solid #8c8c8c;border-bottom: 10px solid #8c8c8c;border-radius: 7px;}
.call-miss-main-a{float: left;width: 100%;background: #FFF;}
.call-miss-main-title{float: left;width: 100%;border-bottom: 1px solid #8c8c8c;}
.call-miss-main-main{float: left;width: 100%;}
.no-call{float: left;width: 31%;border-right: 1px solid #8c8c8c;padding-top: 7px;padding-left: 10px;padding-bottom: 3px;color: #C6CDE4;}
.no-call-info{float: left;width: 23%;border-right: 1px solid #8c8c8c;padding-top: 7px;padding-left: 10px;padding-bottom: 3px;color: #C6CDE4;}
.no-call-bold{font-weight: bold;font-size: 13px;color: #000;}
.title-call{float: left;font-size: 17px;font-weight: bold;margin-bottom: -10px;z-index: 9999;display: block;}

.note-top{float: left;margin: 0px 14px;width: 98%;height: 40px;background: #8c8c8c;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.note-button{float: left;margin: 0px 14px;width: 98%;height: 40px;background: #8c8c8c;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.note-content{float: left;margin: 0px 14px;width: 98%;background: #3855A5;}
#list1,#list2,#list3 .table{border-collapse: collapse;border: none;}
.tr .th{width: 33%;background: #FFF;padding-top: 5px;padding-bottom: 5px;border-bottom: 1px solid #8c8c8c;border-right: 1px solid #8c8c8c;padding-left: 10px;text-align: left;font-weight: bold;font-size: 12px;}
.tr.border_bottom .td {border-bottom:1pt solid #8c8c8c;border-right: 1pt solid #8c8c8c;}
.tr.td-border .td {border-right: 1pt solid #8c8c8c;padding-left: 10px;color: #4F81BD;font-size: 13px;padding-top: 5px;}
.tr.td-border .td a{color: #4F81BD;}

.note-sub{float: left;width: 47%;margin: 20px 0px;}
.note-sub-title{float: left;margin-left: 30px;color: #EEDB9C;width: 20%;font-weight: bold;margin-top: 15px;}
.note-sub-input{float: left;margin-left: 40px;border-radius: 15px;width: 60%;border: none;padding-left: 10px;margin-top: 15px;}
.note-number{padding-left: 0px;font-weight: bold;color: #FFF;}
.note-number-w{width: 21%;}
.note-error{float: left;width: 100%;margin-left: 30px;}
.note-error ul{float: left;}
.note-error ul li{list-style: none;color: red;}
.history{float: left;width: 99%;margin-bottom: 15px;}
.history-list{float: left;width: 80%;margin-left: 40px;background: #FFF;margin-top: 20px;}
.history-list-title{float: left;width: 100%;line-height: 2em;border-bottom: 2px solid #3855A5;text-align: center;}
.number{float: left;width: 20%;color: #3855A5;}
.date{float: left;width: 39%;color: #3855A5;background: #EEDB9C;}
.note-title{float: left;width: 50%;color: #FFF;padding-left: 30px;font-size: 20px;line-height: 2em;}
.note-button-main{float: right;width: 45%;color: #FFF;font-weight: bold;padding-left: 30px;font-size: 13px;line-height: 2em;margin-top: 8px;}
.note-button-b{float: left;padding: 0px 20px;border-radius: 10px;background: #5A9CBE;margin-right: 10px;border: none;color: #FFF;font-weight: bold;}
.font-title{color: #000000;font-weight: bold;}

.sms{float: left;width: 100%;}
.sms .search{float: left;width: 100%;margin-top: -33px;}
.sms .search .title-search{color: #FFF;font-size: 18px;padding-top: 10px!important;width: 30%;}
.sms .search .input-search{width: 20%;border-radius: 9px;border: none;margin-left: -10px;height: 19px;}
.sms .search .bottom-search{padding: 0px 10px;color: #FFF;width: 8%;border-radius: 9px;border: none;margin-left: 15px;height: 22px;background: #5B9DBF;}
.sms-history{float: left;z-index: -1;width: 97%;border-left: 20px solid #8c8c8c;border-right: 20px solid #8c8c8c;border-bottom: 10px solid #8c8c8c;border-top: 40px solid #8c8c8c;border-radius: 7px;}
.tab{float: left;margin-top: 5px;margin-right: 5px;margin-left: 15px;padding: 5px 20px;height: 12px;background: #8c8c8c;color: #FFF;font-size: 15px;border-top-right-radius: 9px;border-top-left-radius: 9px;}
.tab:hover{background: #4F81BD;}
.active{background: #4F81BD;}
.sms-main{float: left;margin: 10px 5px;width: 100%;}

/*Paging*/
ul.paging{float: right;text-align: right;margin: 5px 0px;background: #FFF;}
ul.paging li{float:left;list-style: none;border: 1px solid #bfbfbf;margin: 1px;}
ul.paging li a{display:block;padding:0 5px;color:#555;background:#FFF;line-height:15px;text-decoration:none}
ul.paging li a{padding:0 8px;text-decoration:none}
ul.paging li a:hover{color:#0072bc;background:#fff !important}
ul.paging li a.paging-active{color:#fff;background: #fa9916!important;}

/* SELLING BY CALLCENTER */
.buy-content {
    padding: 10px 20px 0;
}
.buy-left { float: left; width: 40%; border-right: 1px solid #CCC; margin-right: 25px;}
.customer-info, .purchase { }
.customer-info h3, .purchase h3 {
    font-size: 16px;
    font-family: arial;
}
.customer-info p, .purchase p {
    margin: 12px 0;
}
.customer-info p label, .purchase p label {
    width: 160px;
    display: inline-block;
}

.head-buy h3 { float: left; }
.head-buy input[type='button'] {
    float: right;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid #E8E7E1;
    background: #3894CC;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
}
.buy { float: left; width: 54%; }
.buy form { padding: 0;}
.row-buy .errorSummary {
    color: red;
}
.row-buy input[type='text'] {
    padding: 6px;
    border:none;
    background: #E8E8E8;
    font-size: 14px;
}
.row-buy input[type='button'] {
    float: right;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #E8E7E1;
    background: #DA2F2A;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
}
.submit-buy {
    margin-top: 20px;
}
.submit-buy input[type='submit'], .submit-buy input[type='reset'] {
    padding: 4px 20px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #E8E7E1;
    float: left;
    background: #0088E8;
    color: #FFF;
    font-size: 13px;
}
.submit-buy input[type='reset'] {
    margin-left: 8px;
}

#content-buyagent {
    width: 96%;
    margin: 0px 15px;
    background: none repeat scroll 0% 0% #8B8B8B;
    padding: 10px;
    border-radius: 7px;
}
.buy-agent {
    background: none repeat scroll 0% 0% #FFF;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #D0E3EF;
}
.errorBuy {
    color: red;
    /*background-color: #E8E8E8; */
    padding: 7px 0 5px;
    margin-left: 8px;
    display: inline-block;
    width: 108px;
    font-style: italic;
}
p.error {
    font-weight: bold; 
    margin: 15px 0 10px; 
    width: 478px;
    line-height: 20px;
    border: 1px solid #CCC;
    padding: 10px;
}
label.lbleft { width: 120px; display: inline-block; color: #333; }
label.lbright { width: 90px; display: inline-block; float: right; color: #333;}
.buy-agent tr td { background: #FFF; border:1px solid #CCC; color: #3855A5; font-size: 12px; padding: 0.3em; text-align: center;}
.buy-agent tr th { background: #FFF; border:1px solid #CCC; text-align: center; color: #000; font-size: 12px; padding: 0.3em;}
.buy-agent tr td.td_private {background:#FFF8E6}