body{
    background:#EAEAEA repeat-x top;
    color: #202020;
    margin: 0 auto;
    font-family: Arial, Tahoma, Verdana;
    font-size: 12px;
    max-width: 1000px;
}
.clear { clear: both; }
*{
    margin:0;
    padding:0;
}
a, a:visited{
    text-decoration:none;
}
/* FORM */
form {
    padding: 10px;
    margin: 0 auto;
}
form .row {
    padding: 0px 0 7px;
    display: block;
}
form p.note {
    padding: 0 0 5px 155px;
}
form span.required {
    color: red;
}
form .row > label {
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    padding: 0 5px 0 0;
    line-height: 26px;
}
form input {
    border: 1px solid #e8e7e1;
    background: #fff url("../img/form_red.gif") repeat-x top left;
}

form#account-form input[type='submit']:hover, input[type='button']:hover, button:hover {
    background-position: center left;
    color: black;
}
form#account-form input[type='submit'], input[type='button'], button {
    padding: 3px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #C00;
    border: 1px solid #E8E7E1;
}
ul.yiiPager .hidden a, ul.yiiPager .page a, ul.yiiPager .next a,ul.yiiPager .previous a {
    background: #FFF;
}
/*********************
        Structure
*********************/
#service-status-grid_c6 {
    color: #000;
}
#page{
    background: #FFF;
    min-width: 960px;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}
#header{
    width: 100%;
    background: url(../img/bg_login.jpg) 5px 0 no-repeat;
}
#content{
    min-width: 740px;
    padding: 10px;
    margin: 10px 10px 0px 0px;
}
#footer{
    clear:both;
    padding:5px;
    margin-top:10px;
}
form input[type='text'], input[type='password'] {
    padding: 3px;
}
.error { color: red;}
#login { margin: 0 auto; text-align: center; margin-top:150px;}
.row { padding: 0px 0 7px; display: block;}
.row label {width: 150px; padding: 0 5px 0 0;line-height: 26px;}
#login input[type='text'], #login input[type='password'] {
    border-radius: 10px; border: 1px solid #CCC; padding-left: 10px;
    width: 150px; text-align: center; background-color: #F2F2F2; color: #95A2CC;
}
#login input[type='submit'] {
    background: #5C9EC0;
    padding: 4px 20px;
    color: #FFF;
    border-radius: 10px;
    border: none;
}
input:-webkit-autofill {
    background-color: #F2F2F2;
}
#topmenu {margin-top: 45px;width: 100%;float: left;}
#topmenu ul { width: 100%; padding: 0 23px;}
#topmenu ul li {
    float: left; 
    padding: 5px 0 2px;
    width: 46%; 
    list-style: none; 
    display: inline; 
    text-align: center; 
    background:#F4F4F4; 
    margin-right:30px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}
#topmenu ul li.active {
    background:#078241; 
}
#topmenu ul li a { 
    background:#F4F4F4; 
    color: #A4A4A4;
    text-transform: uppercase;
}
#topmenu ul li a.active { 
    background:#078241; 
    color: #FFF;
    text-transform: uppercase;
}
#wrapper-statistic { 
    width: 96%;
    margin: 0 15px;
    background: #8B8B8B;
    padding: 0 10px;
    border-radius: 7px
}
#service-status-grid { padding: 5px 0 15px;font-size: 12px; }
#wrapper-statistic form input[type='text']{ background: #FFF; border-radius: 10px; padding-left:10px; margin-right: 10px;}
#wrapper-statistic form select {
    background: #FFF;
    border-radius: 10px; 
    border: 1px solid #e8e7e1;
    padding:2px 10px;
    margin-right:10px;
}
#wrapper-statistic form input[type='submit'] {
    background: #5A9CBE; 
    border-radius: 10px; 
    color:#FFF; 
    padding:4px 15px; 
    border: none;
    cursor: pointer;
}

#service-status-grid table tr td { background: #FFF; border:1px solid #CCC; color: #3855A5;font-size: 12px;}
#service-status-grid table tr th { background: #FFF; border:1px solid #CCC;text-align: left; color: #000;font-size: 12px;}
#service-status-grid table tr th a {color: #000;font-size: 12px;}
#service-status-grid table tr td.td_private {background:#FFF8E6;font-size: 12px;}
#quota {
    float: left;
    width:45%;
    background: #F4F4F4;
    border-radius: 8px;
    margin-left: 15px;
    margin-bottom: 18px;
    padding: 13px;
    color: #4EA476;
}
#selling_status {
    float: left;
    width:45%;
    background: #F4F4F4;
    border-radius: 8px;
    margin-left: 20px;
    margin-bottom: 18px;
    padding: 13px;
    color: #4EA476;
}
.line {margin-top: 8px;}
.group1 {
    display: inline-block;
    width: 50px;
}
.group2 {
    display: inline-block;
    width: 150px;
    text-align: right;
}
.group3 {
    display: inline-block;
    width: 60px;
    text-align: right;
    color: #C2C2C2;
}
.half { width: 50%; float: left;}
.group2 {
    display: inline-block;
    width: 100px;
    text-align: right;
}
.red {
    color: red;
}